[Unit]
Description=Simple test service

[Service]
Type=forking
ExecStart=/bin/sh /home/gsedometov/ideco_intern/dummy.sh start
ExecStop=/bin/sh /home/gsedometov/ideco_intern/dummy.sh stop
LimitNPROC=1
KillMode=process

[Install]
WantedBy=multi-user.target
