a.button {
  width: 100px;
  margin: 5px;
  appearance: button;
  -webkit-appearance: button;
  -moz-appearance: button;

  text-decoration: none;
  text-align: center;
  color: initial;
}

.button.control {
  width: 100px;
  margin: 5px;
}
